{% extends "base.twig" %}
{% set active_page = "reviewer_reviewing" %}

{% block title %}Active reviewing{% endblock %}

{% block content %}
  <h1 class="page-header">Active reviewing</h1>
   <ol class="breadcrumb">
    <li><a href="{{ app.url_generator.generate('reviewer_dashboard') }}">Home</a></li>
    <li class="active">Active reviewing</li>
  </ol>

  <!-- Table -->
  <table class="table">

    <table class="table">

    <thead>
        <tr>
            <th> Due date </th>
            <th> Author </th>
            <th> Title </th>
            <th> Section </th>
            <th> Submission date </th>
        </tr>
    </thead>

    <tr>
        <td> 2015-05-13 </td>
        <td> <a>Rondeau, S</a> </td>
        <td> <a href="{{ app.url_generator.generate('reviewer_review') }}">The Physics of Stein;Gate</a> </td>
        <td> Physics </td>
        <td> 2014-02-25 </td>
    </tr>

    <tr>
        <td> 2015-12-22 </td>
        <td> <a>Rondeau, S</a> </td>
        <td> <a href="{{ app.url_generator.generate('reviewer_review') }}">The Physics of Stein;Gate</a> </td>
        <td> Physics </td>
        <td> 2014-21-25 </td>
    </tr>

    <tr>
        <td> 2017-01-15 </td>
        <td> <a>Rondeau, S</a> </td>
        <td> <a href="{{ app.url_generator.generate('reviewer_review') }}">The Physics of Stein;Gate</a> </td>
        <td> Physics </td>
        <td> 2014-02-05 </td>
    </tr>

  </table>
{% endblock %}